* {
  font-family: Garamond;
  text-align: center;
}

body {
  margin: 0;
}

main {
  display: flex;
}

#prawy {
  background-color: #7c0a7c;
  width: 72%;
  display: flex;
  flex-direction: column;
}

#prawy1 {
  background-color: #035e6e;
  font-size: 170%;
}

#prawy2 {
  background-color: rgb(167, 10, 10);
  height: 400px;
}

#lewy {
  background-color: rgb(66, 4, 107);
  display: flex;
  flex-direction: column;
  width: 28%;
}

#lewy1,
#lewy2 {
  background-color: #466b0a;
  color: #040372;
  height: 400px;
}

#xddd {
  background-color: #11014d;
  color: white;
  padding: 150px;
}

table {
  margin: auto;
  width: 80%;
  border: 1px solid #374722;
}

tr:hover {
  background-color: rgb(38, 202, 23);
  color: white;
}

h4 {
  font-size: 200%;
}

img {
  padding: 20px;
  border-radius: 40px;
}

a {
  color: white;
}

input[type="radio"] {
  margin: 7px;
}